.signup-link-container {
  display: block;
  padding-bottom: 30px;
  width: 325px;
  margin: 0 auto;
  color: #000;
  text-decoration: none;
  text-align: center;
}

.signup-link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #2f71e5;
}

@media (min-width: 1024px) {
  .signup-image {
    margin: 0 auto 20px;
    width: 90%;
    height: 200px;
    position: relative;
    top: 0;
    left: 0;
    background-image: url('../../images/pablita-signup.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}